Repository huynhngocphuc92-cmyk/dmf-germany: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

fix(header): restore top navigation visibility, responsive lg breakpoint and blog menu link
  app/blog/blog-list-client.tsx
  components/Header.tsx
  components/HeaderWrapper.tsx
  components/header/MobileMenu.tsx
  components/header/NavDropdown.tsx
  components/header/nav-data.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(qc): standardize all 62 blog covers to exact 16:9 ratio and add deep QC test suite
  public/images/blog/dmf-achim-fuehrung-seminar.jpg
  public/images/blog/dmf-achim-interview-coaching.jpg
  public/images/blog/dmf-azubi-abschluss-zertifikat.jpg
  public/images/blog/dmf-azubi-ankunft-deutschland.jpg
  public/images/blog/dmf-azubi-einarbeitung-werkstatt.jpg
  public/images/blog/dmf-azubi-erfolgreiche-ausreise.jpg
  public/images/blog/dmf-azubi-leben-in-deutschland.jpg
  public/images/blog/dmf-bau-handwerk-simulation.jpg
  public/images/blog/dmf-betreuung-unterlagen.jpg
  public/images/blog/dmf-bewerber-profil-pruefung.jpg
  public/images/blog/dmf-campus-lehrsaal-modern.jpg
  public/images/blog/dmf-delegation-besuch-akademie.jpg
  public/images/blog/dmf-dozenten-fachunterricht.jpg
  public/images/blog/dmf-fachbibliothek-unterricht.jpg
  public/images/blog/dmf-fachkraefte-auswahl-kommission.jpg
  public/images/blog/dmf-fachsprache-lehrkraft.jpg
  public/images/blog/dmf-it-arbeitsplaetze-schulung.jpg
  public/images/blog/dmf-karriere-urkunde-erfolg.jpg
  public/images/blog/dmf-kfz-diagnose-labor.jpg
  public/images/blog/dmf-klassenzimmer.jpg
  public/images/blog/dmf-klinik-partner-audit.jpg
  public/images/blog/dmf-lackier-ausbau-training.jpg
  public/images/blog/dmf-leben-in-deutschland-freizeit.jpg
  public/images/blog/dmf-lehrkraft-tafel.jpg
  public/images/blog/dmf-logistik-arbeitsplatz-training.jpg
  public/images/blog/dmf-medizin-simulation-saal.jpg
  public/images/blog/dmf-partner-deutschland-meeting.jpg
  public/images/blog/dmf-solar-elektro-schulung.jpg
  public/images/blog/dmf-sprachkurs-praxis-unterricht.jpg
  public/images/blog/dmf-sprachpraxis-dialog-training.jpg
  public/images/blog/dmf-sprachuebung-tablet.jpg
  public/images/blog/dmf-teamarbeit-fallstudien.jpg
  public/images/blog/dmf-unterricht-interaktiv.jpg
  public/images/blog/dmf-unterricht-materialien.jpg
  public/images/blog/dmf-vertrag-unterzeichnung.jpg
  public/images/blog/dmf-wohnraum-azubi-unterkunft.jpg
  scripts/deep-qc-audit.py
Due: none

perf(blog): enrich B2B depth & checklists across crafts, achieve 0 errors 0 warnings in ultra QC
  content/compiled/all-posts.json
  content/compiled/dachdecker-fassadenbauer-solarmonteure-vietnam-handwerk.html
  content/compiled/dachdecker-fassadenbauer-solarmonteure-vietnam-handwerk.json
  content/compiled/fleischer-metzger-lebensmitteltechnik-vietnam-drittstaaten.html
  content/compiled/fleischer-metzger-lebensmitteltechnik-vietnam-drittstaaten.json
  content/compiled/gabelstapler-flurfoerdermittel-dguv-vorschrift-68-drittstaaten.html
  content/compiled/gabelstapler-flurfoerdermittel-dguv-vorschrift-68-drittstaaten.json
  content/compiled/hotelfachmann-restaurantfachkraft-vietnam-dehoga-gastronomie.html
  content/compiled/hotelfachmann-restaurantfachkraft-vietnam-dehoga-gastronomie.json
  content/compiled/interkulturelle-fuehrung-vietnamesische-fachkraefte.html
  content/compiled/interkulturelle-fuehrung-vietnamesische-fachkraefte.json
  content/compiled/land-baumaschinenmechatroniker-drittstaaten-vietnam.html
  content/compiled/land-baumaschinenmechatroniker-drittstaaten-vietnam.json
  content/compiled/qualifikationsanalyse-14-bqfg-nachweis-ohne-zeugnisse.html
  content/compiled/qualifikationsanalyse-14-bqfg-nachweis-ohne-zeugnisse.json
  content/compiled/seed-posts.sql
  content/compiled/tiefbau-strassenbau-rohrleitungsbau-vietnam-infrastruktur.html
  content/compiled/tiefbau-strassenbau-rohrleitungsbau-vietnam-infrastruktur.json
  content/compiled/tischler-schreiner-vietnam-moebel-innenausbau-cnc.html
  content/compiled/tischler-schreiner-vietnam-moebel-innenausbau-cnc.json
  content/compiled/zimmerer-holzbau-fachkraefte-vietnam-abbund-handwerk.html
  content/compiled/zimmerer-holzbau-fachkraefte-vietnam-abbund-handwerk.json
  content/drafts/28-interkulturelle-fuehrung-vietnamesische-fachkraefte.md
  content/drafts/55-dachdecker-fassadenbauer-solarmonteure-vietnam-handwerk.md
  content/drafts/56-land-baumaschinenmechatroniker-drittstaaten-vietnam.md
  content/drafts/57-fleischer-metzger-lebensmitteltechnik-vietnam-drittstaaten.md
  content/drafts/58-hotelfachmann-restaurantfachkraft-vietnam-dehoga-gastronomie.md
  content/drafts/62-qualifikationsanalyse-14-bqfg-nachweis-ohne-zeugnisse.md
  content/drafts/65-zimmerer-holzbau-fachkraefte-vietnam-abbund-handwerk.md
  content/drafts/66-tischler-schreiner-vietnam-moebel-innenausbau-cnc.md
  content/drafts/67-gabelstapler-flurfoerdermittel-dguv-vorschrift-68-drittstaaten.md
  content/drafts/68-tiefbau-strassenbau-rohrleitungsbau-vietnam-infrastruktur.md
  scripts/expand-drafts-depth.py
  scripts/ultra-deep-qc-audit.py
Due: prettier --write

style(blog): eliminate AI buzzwords and robotic phrasing across all posts, achieve 0 AI tone hits
  content/compiled/all-posts.json
  content/compiled/anerkennungspartnerschaft-16d-aufenthg-arbeitgeber-voraussetzungen.html
  content/compiled/anerkennungspartnerschaft-16d-aufenthg-arbeitgeber-voraussetzungen.json
  content/compiled/azubis-aus-vietnam-vorbereitung-ausbildungsbetrieb.html
  content/compiled/azubis-aus-vietnam-vorbereitung-ausbildungsbetrieb.json
  content/compiled/betriebliche-altersvorsorge-bav-fachkraefte-drittstaaten-betravg.html
  content/compiled/betriebliche-altersvorsorge-bav-fachkraefte-drittstaaten-betravg.json
  content/compiled/defizitbescheid-qualifizierungsplan-16d-aufenthg-arbeitgeber.html
  content/compiled/defizitbescheid-qualifizierungsplan-16d-aufenthg-arbeitgeber.json
  content/compiled/deufoev-foerderung-45a-aufenthg-sprachkurse.html
  content/compiled/deufoev-foerderung-45a-aufenthg-sprachkurse.json
  content/compiled/gastronomie-hotellerie-personal-vietnam-einstellen.html
  content/compiled/gastronomie-hotellerie-personal-vietnam-einstellen.json
  content/compiled/industriemechaniker-instandhaltung-maschinenbau-vietnam.html
  content/compiled/industriemechaniker-instandhaltung-maschinenbau-vietnam.json
  content/compiled/interkulturelle-fuehrung-vietnamesische-fachkraefte.html
  content/compiled/interkulturelle-fuehrung-vietnamesische-fachkraefte.json
  content/compiled/seed-posts.sql
  content/drafts/04-azubis-aus-vietnam-ausbildungsbetrieb-vorbereitung.md
  content/drafts/11-gastronomie-hotellerie-personal-vietnam-einstellen.md
  content/drafts/28-interkulturelle-fuehrung-vietnamesische-fachkraefte.md
  content/drafts/31-deufoev-foerderung-45a-aufenthg-sprachkurse.md
  content/drafts/37-anerkennungspartnerschaft-16d-aufenthg-arbeitgeber-voraussetzungen.md
  content/drafts/42-industriemechaniker-instandhaltung-maschinenbau-vietnam.md
  content/drafts/61-defizitbescheid-qualifizierungsplan-16d-aufenthg-arbeitgeber.md
  content/drafts/71-betriebliche-altersvorsorge-bav-fachkraefte-drittstaaten-betravg.md
  scripts/ai-tone-audit.py
Due: prettier --write

feat(cro): implement Phase 1 conversion rate optimization (blog CTA cards, interactive tool links, enhanced nav & footer)
  app/blog/[slug]/blog-detail-client.tsx
  components/Footer.tsx
  components/header/MobileMenu.tsx
  components/header/nav-data.ts
  components/tools/RoiCalculator.tsx
  components/tools/TimelineSimulator.tsx
  lib/translations.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(cro): implement Phase 2 conversion optimization (mobile sticky bar, quick-select message chips, form trust badges)
  app/layout.tsx
  components/bot/SmartChatBot.tsx
  components/employers/HiringRequestForm.tsx
  components/layout/MobileStickyBar.tsx
  components/sections/ContactSection.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fix(chatbot): restore valid Grok models, resilient fallbacks and rich interactive chat UX
  app/api/chat/route.ts
  components/bot/SmartChatBot.tsx
  lib/ai/gemini.ts
  lib/ai/grok.ts
  lib/chatbot/fallback.ts
  tests/chatbot.test.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(chatbot): add diagnostics endpoint and robust error reporting
  app/api/chat/route.ts
  tests/chatbot.test.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(chatbot): broaden keyword stemming in fallback engine
  lib/chatbot/fallback.ts
Due: prettier --write, eslint --fix --max-warnings=0

test(chatbot): verify english hiring consultation intent matching
  tests/chatbot.test.ts
Due: prettier --write, eslint --fix --max-warnings=0

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css})
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
